/* BASE OVERRIDES */



/* ====== TYPOGRAPHY ====== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Montserrat',sans-serif;
  color: #292929;
}

h1 {
  font-size:32px;
  line-height:1.4;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
  line-height:1.4;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4, h5, h6 {
  font-size: 16px;
  line-height: 1.5;
}

body,
p {
  font-family: 'Montserrat',sans-serif;
  color: #666;
}

body,
input,
textarea,
p {
  font-size:16px;
  line-height: 1.6;
  font-weight: 400;
}

p strong,
li strong {
    color: #292929;
}



/* ====== PROSE HEADINGS ====== */

.prose h2:first-child {
  padding-top: 20px;
  padding-right: 40px;
}
.prose h2:after {
    content: "";
    width: 10%;
    height: 3px;
    background-color: #00b491;
    display: block;
    margin: 20px 0 25px;
}

.prose h3:first-child {
  padding-top: 40px;
}

/* Header gets big */
@media only screen and (max-width:960px) {
  .prose h3:first-child {
    padding-top: 60px;
  }
}



/* ====== TABLES ====== */

.prose table,
.prose table p,
.prose table td {
    font-size: 14px;
    color: #292929;
    font-weight: 400;
}
.prose table th {
  text-transform: uppercase;
}
/* tables are too giant */
.prose table,
.prose table code {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.5;
}
.prose table th, .prose table td {
  padding: 5px;
}



/* ====== SIDEBAR / HEADER ====== */

.AN-titlebar {
  padding: 15px 20px;
  z-index: 2;
}
.AN-title {
  padding: 7px 0 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.AN-sidebar {
  margin-top: 90px;
  padding-top: 15px;
}
.AN-sidebar:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1px;
  z-index: -1;
  transform: scale(.9);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
  left: 0;
}
.AN-tablet-sidebar {
  margin-top: 85px;
  padding-top: 10px;
}
.AN-tablet-sidebar:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1px;
  z-index: -1;
  transform: scale(.9);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
  left: 0;
}

/* sidebar-h1 */
.AN-sidebar-h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 4px;
}
.AN-sidebar-h1:first-of-type {
  margin-top: 0px;
}

/* sidebar-h2 */
.AN-sidebar-h2 {
  -webkit-transition:all .3s;
     -moz-transition:all .3s;
      -ms-transition:all .3s;
          transition:all .3s;
}
.AN-sidebar-h2 a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  -webkit-transition:all .3s;
     -moz-transition:all .3s;
      -ms-transition:all .3s;
          transition:all .3s;
}
.AN-sidebar-h2.active,
.AN-sidebar-h2:hover,
.AN-sidebar-h2:focus {
  background-color: #292929;
}
.AN-sidebar-h2:hover a,
.AN-sidebar-h2:focus a {
  color: white !important;
  box-shadow: none;
}
.AN-sidebar-h2 a:hover,
.AN-sidebar-h2 a:focus {
  box-shadow: none;
}

/* sidebar-h3 */
.AN-sidebar-h3 {
  background-color: #353535;
  margin-left: 0;
  padding: 3px 3px 3px 25px;
  -webkit-transition:all .3s;
     -moz-transition:all .3s;
      -ms-transition:all .3s;
          transition:all .3s;
}
.AN-sidebar-h3 a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
.AN-sidebar-h3.active,
.AN-sidebar-h3:hover,
.AN-sidebar-h3:focus {
  background-color: #292929;
}
.AN-sidebar-h3:hover a,
.AN-sidebar-h3:focus a {
  color: white !important;
  box-shadow: none;
}

.AN-tablet-language-slide {
  background-color: #5a5a5a;
}
.AN-tablet-language-slide .rounded-toggle {
    background: #999;
}
.AN-tablet-language-slide .inline {
    color: #fff;
    font-weight: 400;
}
.AN-tablet-titlebar a {
  margin-right: 10px;
}
.AN-tablet-language-slide.space-top8 {
  margin-top: 55px;
}



/* ====== FIXES ====== */

.rounded-toggle.short > * {
    padding: 3px 6px;
}
.rounded-toggle.short .strong {
    color: #292929;
    font-weight: 400;
}

/* regulate spacing */
.prose h2:only-child {
    margin-bottom: -20px;
}

@media only screen and (max-width:960px) {
  /* allow for navbar */
  .section:first-of-type {
      padding-top: 56px;
  }
  /* regulate spacing */
  .prose h2:only-child {
      margin-bottom: 0;
  }
}
@media only screen and (max-width:640px) {
  /* allow for navbar */
  .section:first-of-type {
      padding-top: 110px;
  }
}



/* ====== BASE ADDONS ====== */

.dark.keyline-top,
.dark.keyline-bottom {
  border-color: #313131;
}

html, body, #app, .container {
  height: 100%;
}

body pre {
  padding: 0;
}

.fill-dark2 { background-color: #313131; }
.fill-dark2 .rounded-toggle input[type=radio]:checked + label,
.fill-dark2 .rounded-toggle .active { background-color: #313131; }
.space-top3 { margin-top: 30px;}
.space-top5 { margin-top: 50px;}
.line-height15 { line-height: 15px; }
.pad00y { padding-top: 2px; padding-bottom: 2px; }
.space-bottom00 { margin-bottom: 3px;}

.endpoint {
  width: 100%;
  display: flex;
}

.endpoint-method {
}

.endpoint-url {
  flex-grow: 1;
  word-wrap: break-word;
}

.endpoint-url a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-weight:bold;
  padding: 2px;
  color: #fff;
}

.endpoint-url a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.endpoint-token {
}

a.hljs-linked {
  border-radius: 2px;
  color: #a5c261;
  background: #383C2F;
  padding: 2px;
}

body .prose blockquote {
  padding: 5px 10px;
  background: #232323;
}

.preview {
  background-image: -webkit-linear-gradient(#F1F075, #F1F075);
  background-size: 10px 10px;
  background-repeat: repeat-y;
}

.preview h2::after,
.preview h3::after {
  content: 'PREVIEW';
  background-color: #F1F075;
  border-radius: 2px;
  font-size: 9px;
  font-weight: normal;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  vertical-align: middle;
}
